.navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar {
    background-color: #fff6d8;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 1);
}

.navbar .navbar-nav .nav-link {
    color: #2c3255;
}